# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db
